body {
    color: #444;
    background-color: #fafafa;
}

pre, img {
    margin-left: 2rem;
    margin-right: 2rem;
    border: 2px solid #888;
}

.main pre code {
    white-space: pre;
}

.main img {
    border-radius: 4px;
    max-width: 20rem;
}

.main .readme h3 {
    color: #444;
}

hr {
    height: 2px;
}

.navigation {
    color: #eee;
    background-color: #333;
}

.navigation li.item .title .namespaceTag {
    background-color: #606068;
}

.navigation li.item .subtitle {
    color: #fff;
}
.main .subsection-title {
    color: #000;
}

code {
    color: #000;
    font-weight: bold;
}

.main .access-signature.deprecated {
    background-color: #f00;
}

.main footer {
    padding-bottom: 2em;
}

.navstrip {
    position: fixed;
    left: 25%;
    right: 0px;
    bottom: 0px;
    background-color: #333;
}

@media screen and (max-width: 1000px)
{
    .navstrip {
        left: 250px;
    }
}

@media screen and (max-width: 768px)
{
    .navstrip {
        top: unset;
        left: 0px;
        bottom: 0px;
    }
}

.navstrip a {
    display: inline-block;
    padding: 0.5em;
    color: #fff;
}

.navstrip a::before {
    position: relative;
    top: 1px;
    display: inline-block;
    padding: 3px;
    margin-right: 0.5em;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 3px;
    background-color: #606068;
    color: #fff;
}

.navstrip .go-home a::before {
    content: "\e043";
}

.navstrip .go-previous a::before {
    content: "\e079";
}

.navstrip .go-next a::before {
    content: "\e080";
}